on: [status]
jobs:
  circleci_artifacts_redirector_job:
    if: ${{ github.repository_owner == 'data-apis' }}
    runs-on: ubuntu-latest
    name: Run CircleCI artifacts redirector
    steps:
      - name: GitHub Action step
        id: step1
        uses: larsoner/circleci-artifacts-redirector-action@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          artifact-path: 0/build/latest/index.html
          circleci-jobs: build_page
          job-title: Check the rendered docs here!
      - name: Array API preview
        run: |
          curl --fail ${{ steps.step1.outputs.url }} | grep $GITHUB_SHA
